# IDE config
.idea/
*.vc.db
*.vc.opendb
*.vcxproj.user
.vscode/
.vs

# Build output
build*/*

# Test reports
doc/test-*.log
doc/test-*.tap
doc/test-*.xml

# RPM packages
dist/psmpi-*

# Autotools
aclocal.m4
autom4te.cache/*
configure
configure~
scripts/config.guess~
