.svn
*.o
*~
*.d
build*/*
autom4te.cache/*
mpich2/autom4te.cache/*
mpich2/src/openpa/autom4te.cache/*
mpich2/src/pm/hydra/autom4te.cache/*
mpich2/test/mpi/autom4te.cache/*
mpich2/**/Makefile.am-stamp
dist/psmpi-*
mpich2/test/mpi/dtpools/autom4te.cache/*
